<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/main.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    
    <div class="navbar bg-base-100">
        <div class="flex-none">
            <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" class="btn m-1">Themes</div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                  
                     
                    <li><a href="/lego/sets?theme=Lion Knights">Lion Knights</a></li>
                    <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
                    <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                    </ul>
                </div>
        </div>
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-xl">Lego Collection</a>
            <a href="/about" class="btn btn-ghost text-xl btn btn-active">About</a>
        </div>
    </div>



    <div class="container mx-auto">

        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
              <img src="/img/smile looking left.png" class="max-w-sm rounded-lg shadow-2x1"  width="500" height="600" />
              <div>
                <h1 class="text-5xl font-bold">ABOUT ME!</h1>
                <p class="py-6">Hi, I'm Amir! I'm from Dubai and im currently a student at seneca college studying programing</p>
              </div>
            </div>
          </div>






          <div class="flex flex-col md:flex-row justify-center items-center gap-4 text-center p-4">
            <div class="flex justify-center items-center md:w-1/2">
              <img src="/img/keyboard smash.png" alt="Keyboard Smash" class="rounded-lg shadow-xl"  width="300" height="300" />    
            </div>
            <div class=" md:w-1/2 flex justify-center items-center">
              <p>Spend most of my time programming and smashing my keyboards because my codes don't work ;(</p>
            </div>
          </div>
          
          





      </div>



</body>
</html>