<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/main.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-none">
            <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" class="btn m-1">Themes</div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                  
                        <li><a href="/lego/sets?theme=Lion Knights">Lion Knights</a></li>
                        <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
                        <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                    </ul>
                </div>
        </div>
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-xl">Lego Collection</a>
            <a href="/about" class="btn btn-ghost text-xl" id="aboutLink">About</a>
            
        </div>
       
    </div>



<div class="container mx-auto">
   
    <div class="hero min-h-screen" style="background-image: url(/img/lego_background.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Welcome to the Lego Collection</h1>
            <p class="mb-5">Explore the vast world of Lego sets. Find your favorite themes and latest sets here.</p>
             <a href="/lego/sets" class="btn btn-primary">Explore Sets</a>
          </div>
        </div>
      </div>



     
    </div>
  </div>

  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row items-center gap-4">
     

        <div class="card bg-base-100 shadow-xl">
            <figure class="px-10 pt-10">
              <img src="https://cdn.rebrickable.com/media/sets/021-1.jpg" alt="Wheel Set" class="rounded-xl" />
            </figure>
            <div class="card-body items-center text-center">
              <h2 class="card-title">Wheel Set</h2>
              <p>This set was released in America (USA/CAN) by Samsonite in 1966. It was never released in Europe.</p>
              <div class="card-actions">
                <a href="/lego/sets/021-1" class="btn btn-primary">Learn more</a>
              </div>
            </div>
          </div>


          <div class="card bg-base-100 shadow-xl">
            <figure class="px-10 pt-10">
              <img src="https://cdn.rebrickable.com/media/sets/0241187567-1.jpg" alt="Ninjago: Build Your Own Adventure" class="rounded-xl" width="120" lenght="150" />
            </figure>
            <div class="card-body items-center text-center">
              <h2 class="card-title">Ninjago: Build Your Own Adventure</h2>
              <p>with Lloyd minifigure and exclusive ninja mech
                book includes more than 50 building ideas</p>
              <div class="card-actions">
                <a href="/lego/sets/0241187567-1" class="btn btn-primary">Learn more</a>
              </div>
            </div>
          </div>

  
          <div class="card  bg-base-100 shadow-xl">
            <figure class="px-10 pt-10">
              <img src="https://cdn.rebrickable.com/media/sets/003-1.jpg" alt="Master Mechanic Set" class="rounded-xl" />
            </figure>
            <div class="card-body items-center text-center">
              <h2 class="card-title">Master Mechanic Set</h2>
              <p>Wide range of parts in two storage trays. includes motor, battery housing, (gear models will work automatically) gears, wheels and basic bricks.</p>
              <div class="card-actions">
                <a href="/lego/sets/003-1" class="btn btn-primary">Learn more</a>
              </div>
            </div>
          </div>






</body>
</html>